.body {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
    
}

.header,
.footer,
.hero {
    background-color: #1F2937;
}

button {
    background-color: #3882F6;
    text-decoration: none;
    color: #f9faf8;
    border: none;
    padding: 1rem 2rem;
    border-radius: 20px;
}

.call > * button {
    border: 2px solid #e5e7eb;
   
}

.hero > * .button {
    padding-top: 2rem;
}

/*                  HEADER               */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    flex: 1;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}



.header > * a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/*               Container                  */





.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

}

/*                   HERO                       */


.hero {
    display: flex;
    padding: 5rem 30rem;
    flex: 1;
    
}

.hero-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-content: center;
    padding: 0 2rem;
    

}

.main-hero {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    flex: ;
}

.secondary-hero {
    font-size: 18px;
    color: #e5e7eb;
}   

.hero-img {
    max-height: ;

}

.call-to-action {

}

/*                  CARD MENU                            */

.card-menu{
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.card-title{
    text-align: center;
    padding: 1rem;
    font-size: 38px;
    font-weight: bold;

    
    
}

.card-display{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
}

.card-img > img{
    height: 225px;
    width: 225px;
    border: #3882F6 solid;

}

.card-description{

}

/*                  INSPIRE                            */

.inspire{

    flex: 1;
    background-color: #e5e7eb;
    text-align: center;
    padding: 5rem;
    justify-items: center;
    font-style:italic;
    font-size: 40px;

}

p{
 display:inline;
 font-style:italic;
 color: #1f2937;
 font-weight:lighter;
 flex-wrap: wrap;
 max-width: 800 px;
 
 
}

.author{
    display: inline-block;
    padding: 2rem 1rem 1rem 1rem;
    font-size: 30px;
    font-weight: bold;
    margin: ;
    font-style: normal;

}

/*                  CALL                            */

.call{
    background-color: #3882F6;
    padding: 5rem 10rem;
    margin: 5rem 10rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    color: #e5e7eb;
    align-items: baseline;
    border-radius: 20px;
    font-size: 35px;
    align-items: center;
}

.action{ 


}

.push{ 
    text-decoration: none;
    background-color: #3882F6;
    color: #e5e7eb;


}

/*                  FOOTER                            */

.footer{
    color: #e5e7eb;
    padding: 1rem;
    text-align: center;
    font-size: 15px;
}
